* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
  margin-bottom: 70px;
}

body {
  margin: 0 auto;
  background-color: #c9b1bd;
}

header {
  height: 78px;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 20px 15px;
  background-color: grey;
  font-size: 2em;
  text-align: center;
  background-color: #202124;
  color: rgba(255, 255, 255, 0.921);
  z-index: 1;
}

li {
  transition: 400ms;
  list-style-type: none;
}
li:hover {
  color: #0377b6;
  cursor: pointer;
  position: relative;
  top: 3px;
}

.nav,
footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  margin: 0;
  padding: 0;
}

form {
  width: 100%;
  height: 2100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}

.questionBox {
  width: 90%;
  height: 400px;
  margin: 20px 0;
  border-radius: 30px;
  background-color: #fef9ef;
  opacity: 0.8;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
}

#about-you {
  height: 500px;
}

.box-title {
  text-align: center;
}

.question-title {
  font-weight: bold;
}

.questions {
  padding: 0 15px;
}

.button-container {
  width: 100%;
  text-align: center;
}

#lifestyle {
  height: 500px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: grey;
  width: 100%;
  padding: 0.5em;
  font-size: 2em;
  text-align: center;
  background-color: #202124;
  color: rgba(255, 255, 255, 0.921);
}
