body {
    background-color: #FEF9EF;
}

/* apply styles to header */

#header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b79e87
}

#carousel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#home-info {
    text-align: center;
}

#home-info p {
    font-size: 13px;
}

#cat-button :hover {
    background-color: #b79e87;
}
#cat-button{
    background-image: url("./images/cats.png");
            background-size: cover;
            width: 259px;
            height: 147px;
            font-size: 2rem;
            
}



#dog-button {
    background-image: url("./images/beagle.png");
            background-size: cover;
            width: 259px;
            height: 147px;
            font-size: 2rem;
            margin-bottom: 10px;
            
}

#buttons {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#footer {
    background-color: #b79e87;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
   
    
}
