*{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    
}


.mySlides {display: none;}

body {
    background-color: #FEF9EF;
    margin: 0 auto;
    height: 100vh;
}

/* apply styles to header and nav */

.nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: grey;
    font-size: 2em;
    text-align: center;
    background-color: #202124;
    color: rgba(255, 255, 255, 0.921);
  }

.nav,
footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#logo{
    display: flex;
    justify-content: center;
}
/* nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
/* styling of carousel container to ensure all images are central */

.slideshow-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
/* styling of carousel. */
#carousel {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 39vh;
    flex-direction: column;
    width:100%;
    margin-top: 25%;
}

/* styling carousel images to ensure they are all same height/width */
.carousel-img {vertical-align: middle;}

.carousel-img {
    /* max-width: 70%; */
    height: 240px;
    border-radius: 10px;
    
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #202124;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #0377b6;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/* homepage information styles */
#home-info {
    text-align: center;
}

#home-info h3 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;

}


#home-info p {
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
    padding: 1% 5% 5%;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    font-weight: 300;
    line-height: 1.5;
}
 /* button styles */
#cat-button:hover {
    /* text-decoration: underline; */
    position: relative;
    top: 3px;
    opacity: 0.8;
}

a, a:visited {
    text-decoration: none;
    /* color: white; */
}

#cat-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 147px;
        font-size: 2rem;
        border: none;
        border-radius: 25px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
        position:relative;
                    
}

/* sets opacity to background image but not the text */
#cat-button::before {
    content: "";
    background-image: url("./images/cats.png");
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    position: absolute;
     
  }



#cat-button p {
    color: black;
    position: relative;
    
}
#dog-button:hover {
    /* text-decoration: underline; */
    position: relative;
    top: 3px;
    opacity: 0.8;
}

/* style dog button */
#dog-button { 
    position: relative; 
    height: 20vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 147px;
    font-size: 2rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  }

/* sets opacity to background image but not the text */

  #dog-button::before {  
    content: "";
    background-image: url('./images/beagle.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    border-radius: 25px;
}
#dog-button p {
    position: relative;
    color: black;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0;
    align-items: center;
}

/* Styling for footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: grey;
    width: 100%;
    padding: 0.5em;
    font-size: 2em;
    text-align: center;
    background-color: #202124;
    color: rgba(255, 255, 255, 0.921);
  }

footer ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
/* styling for icons in footer area  */
li:hover {
    color: #0377b6;
    cursor: pointer;
    position: relative;
    top: 3px;
  }

  @media (min-width: 700px) {
  .wrapper {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    max-width: 900px;
    margin: 0 auto 100px;
    padding: 175px 75px;
  }
  h3 {
    padding-bottom: 10px;
  }

  #carousel {
    margin: 0 auto 80px;
  }

  .carousel-img {
    height: 400px;
  }

  .nav, footer > ul {
    justify-content: space-evenly;
  }
}



